extends layout.pug
block header
    - var title ="Услуги";
    include includes/articles-header.pug
block content
    include includes/content-articles.pug
block footer
    include includes/footer.pug