extends layout.pug
block vars
    - var title ="Фотоархив";
block header
    include includes/header.pug
block content
    include includes/content-photo.pug
block footer
    include includes/footer.pug