.map
.contacts-block
	.container-fluid
		.row
			.col-lg-8
				.contacts-block__title Пруд в Лыткино 
				.contacts-block__desc.
					Найти нас можно по адресу: Московская область, Солнечногорский район, Деревня Лыткино. <br> о водоема легко добраться как общественным транспортом, так и на машине. <br> Котактный телефон: 8-903-799-3141
		.row.justify-content-center
			.col-lg-2
				img(src="c1.png")
			.col-lg-8
				.contacts-block__subtitle Общественный транспорт
				.contacts-block__desc.
					Электропоездом Ленинградского направления до станции «Крюково» далее авт. №№ 403, 497 до ост. «деревня Лыткино».(время в пути от Крюково до Лыткино приблизительно 30 мин.) Интервал движения автобуса - около 1 часа. Остановка автобуса находится в 50 м. от водоема.
					Если добираться самым первым общественным транспортом, то первый электропоезд с Ленинградского вокзала отправляется в 04:42 утра и прибывает на ст. «Крюково» в 05:33.  Первый автобус (№ 497) отправляется от Крюково в 06:05 и прибывает в Лыткино в 06:36 утра.
					Расписание электричек Расписание автобуса
		.row.justify-content-center
			.col-lg-2
				img(src="c2.png")
			.col-lg-8
				.contacts-block__subtitle Общественный транспорт
				.contacts-block__desc.
					Электропоездом Ленинградского направления до станции «Крюково» далее авт. №№ 403, 497 до ост. «деревня Лыткино».(время в пути от Крюково до Лыткино приблизительно 30 мин.) Интервал движения автобуса - около 1 часа. Остановка автобуса находится в 50 м. от водоема.
					Если добираться самым первым общественным транспортом, то первый электропоезд с Ленинградского вокзала отправляется в 04:42 утра и прибывает на ст. «Крюково» в 05:33.  Первый автобус (№ 497) отправляется от Крюково в 06:05 и прибывает в Лыткино в 06:36 утра.
					Расписание электричек Расписание автобуса
.mappic