.price
    .price-content
        .container-fluid
            .row
                .col-md-12
                    .price-container
                        .price-table
                            table
                                caption.price-title Рыбалка
                                    tr.price-row
                                        td.price-cell.price-table_name Утренняя путёвка с 6-00 до 13-00 без лимита любой рыбы
                                        td.price-cell.price-table_price 1600 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Дневная путёвка с 6-00 до 20-00 без лимита любой рыбы
                                        td.price-cell.price-table_price 2000 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Вечерняя путёвка с 13-00 до 20-00 без лимита любой рыбы
                                        td.price-cell.price-table_price 1600 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Ночная путёвка с 20-30 до 5-00 без лимита любой рыбы
                                        td.price-cell.price-table_price 2000 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Суточная путевка сутки с момента прибытия
                                        td.price-cell.price-table_price 3500 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Путевка ВИП с 7:00 до 17:00 без нормы вылова
                                        td.price-cell.price-table_price 1000 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Гостевая путевка
                                        td.price-cell.price-table_price 500 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Беседка
                                        td.price-cell.price-table_price 1000 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Дополнительная снасть
                                        td.price-cell.price-table_price 300 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Пойманная рыба весом свыше 3кг
                                        td.price-cell.price-table_price 300 рублей
                        .price-repair
                            table
                                caption.price-title Ремонт снастей
                                    tr.price-row
                                        td.price-cell.price-table_name Удочка
                                        td.price-cell.price-table_price 400 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Подсачник
                                        td.price-cell.price-table_price 300 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Кресло
                                        td.price-cell.price-table_price 200 рублей
                                    tr.price-row
                                        td.price-cell.price-table_name Ремонт снастей
                                        td.price-cell.price-table_price 100 рублей
