.article-second.article-copy
    .container-fluid
        .row
            .col-md-6
                .article-second_left
                    h2.header-block_h1.articles-title Lorem ipsum dolor<br> sit amet, consectetur adipiscing elit
                    p.header-anounce sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation
                    a.header-link.articles-link(href="#article2", data-modal="modal") читать полностью
            .col-md-6
                .article-second_right
.header-block.articles-header-block.article-third
    .container-fluid
        .row
            .col-lg-12
.article-fourth.article-copy
    .container-fluid
        .row
            .col-md-6
                .article-second_left
                    h2.header-block_h1.articles-title Lorem ipsum dolor<br> sit amet, consectetur adipiscing elit
                    p.header-anounce sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation
                    a.header-link.articles-link(href="#article3", data-modal="modal") читать полностью
            .col-md-6
                .article-second_right
.articles-more
    .container-fluid
        .row
            .col-md-12
                a.articles-more-btn(href="#") Загрузить еще статьи
.modal#article1
    .modal-wrapper
        .modal-img
            img(src="img/modal-bg.jpg", alt="Три карася")
        .modal-content
            .modal-content-center
                h2.modal-title Подледная ловля форели
                a(href="#").modal-date 04.07.2017
                p.modal-text Спешим сообщить. В преддверии тёплых выходных, запустили сразу в пруд, три тонны отборного сома, навеской от 1кг до 16кг!!! Готовьте куриную печень и берегите ваши снасти! Недавно выпущенный в количестве 4.5т карп, несмотря на неустойчивую погоду, клюёт по всему водоёму.
                p.modal-text Также до выходных, ожидаем приход еще одной партии карпа!! Любителей покидать блесну, обрадует щука! В уловах, всё ещё попадаются не выловленные с зимы форель и сиг. А на селёдку, есть шанс поймать и осетра!
    a.modal-close-btn(href="#")
.modal#article2
    .modal-wrapper
        .modal-img
            img(src="img/modal-bg.jpg", alt="Три карася")
        .modal-content
            .modal-content-center
                h2.modal-title Подледная ловля форели
                a(href="#").modal-date 04.07.2017
                p.modal-text Спешим сообщить. В преддверии тёплых выходных, запустили сразу в пруд, три тонны отборного сома, навеской от 1кг до 16кг!!! Готовьте куриную печень и берегите ваши снасти! Недавно выпущенный в количестве 4.5т карп, несмотря на неустойчивую погоду, клюёт по всему водоёму.
                p.modal-text Также до выходных, ожидаем приход еще одной партии карпа!! Любителей покидать блесну, обрадует щука! В уловах, всё ещё попадаются не выловленные с зимы форель и сиг. А на селёдку, есть шанс поймать и осетра!
    a.modal-close-btn(href="#")
.modal#article3
    .modal-wrapper
        .modal-img
            img(src="img/modal-bg.jpg", alt="Три карася")
        .modal-content
            .modal-content-center
                h2.modal-title Подледная ловля форели
                a(href="#").modal-date 04.07.2017
                p.modal-text Спешим сообщить. В преддверии тёплых выходных, запустили сразу в пруд, три тонны отборного сома, навеской от 1кг до 16кг!!! Готовьте куриную печень и берегите ваши снасти! Недавно выпущенный в количестве 4.5т карп, несмотря на неустойчивую погоду, клюёт по всему водоёму.
                p.modal-text Также до выходных, ожидаем приход еще одной партии карпа!! Любителей покидать блесну, обрадует щука! В уловах, всё ещё попадаются не выловленные с зимы форель и сиг. А на селёдку, есть шанс поймать и осетра!
    a.modal-close-btn(href="#")
block carousel
    include owl-carousel.pug