.photo
    .photo-header
        .container-fluid
            .row
                .col-md-12
                    .photo-archive
                        h2.h2-title.h2-title__white.photo-header_title Фотоархив
                        .photo-archive-months
                            ul
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link.photo-archive_link__active май
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link июнь
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link июль
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link сентябрь
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link октябрь
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link ноябрь
                                li.photo-archive-months_item.photo-archive_item
                                    a(href="#").photo-archive-months_link.photo-archive_link декабрь
                        .photo-archive-years
                            ul
                                li.photo-archive-years_item.photo-archive_item
                                    a(href="#").photo-archive-years_link.photo-archive_link 2017
                                li.photo-archive-years_item.photo-archive_item
                                    a(href="#").photo-archive-years_link.photo-archive_link 2016
                                li.photo-archive-years_item.photo-archive_item
                                    a(href="#").photo-archive-years_link.photo-archive_link 2015
                                li.photo-archive-years_item.photo-archive_item
                                    a(href="#").photo-archive-years_link.photo-archive_link 2014
                                li.photo-archive-years_item.photo-archive_item
                                    a(href="#").photo-archive-years_link.photo-archive_link 2013
    .photo-content
        .photo-container
            .photo-gallery
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/offer-bg.png", data-fancybox="images", data-slide-class='custom-gallery').gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/vip-fish-bg.png", data-fancybox="images", data-slide-class='custom-gallery').gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/arrow-right-bg.jpg", data-fancybox="images", data-slide-class='custom-gallery').gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__third
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic3.jpg", alt="Изображение 3")
                .photo-gallery-img.photo-gallery-img__first
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic1.jpg", alt="Изображение 1")
                .photo-gallery-img.photo-gallery-img__second
                    a(href="img/gallery-img.jpg", data-fancybox="images").gallery-box
                        img(src="img/gallery-pic2.jpg", alt="Изображение 2")
block carousel
    include owl-carousel.pug