.conditions
    .container-fluid
        .conditions-promo
            .row
                .col-md-12
                    h2.h2-title.conditions-title.h2-title__blue РАСПИСАНИЕ И УСЛОВИЯ
                    p.condition-paragraph Рыбалка осуществляется круглосуточно. Просим соблюдать Вас правила<br> Организации рыбной ловли и отдыха на Водоёме д. Лыткино .«Три Пескаря». Разрешено использовать 2 снасти, не более 3х крючков на снасть.  Пойманная рыба весом свыше 3кг считается собственностью клуба «Три Пескаря» и отпускается в водоем<br> либо оплачивается из расчета 1кг – 300руб.
        .conditions-price
            .row.conditions-price-row
                .col-md-2.conditions-price_item
                    .conditions-price_image
                        img(src="img/morning-icon.svg", alt="Утренняя путевка")
                    span.conditions-price_title 1600 рублей<br>Утренняя путевка
                    p.conditions-price_time 6.00 – 13.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/afternoon-icon.svg", alt="Дневная путевка")
                    span.conditions-price_title 2000 рублей<br>Дневная путевка
                    p.conditions-price_time 6.00 – 20.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/evening-icon.svg", alt="Вечерняя путевка")
                    span.conditions-price_title 1600 рублей<br>Вечерняя путевка
                    p.conditions-price_time 13.00 – 20.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/night-icon.svg", alt="Ночная путевка")
                    span.conditions-price_title 2000 рублей<br>Ночная путевка
                    p.conditions-price_time 20.00 – 5.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item
                    .conditions-price_image
                        img(src="img/vip-icon.svg", alt="vip путевка")
                    span.conditions-price_title 3500 рублей<br>VIP путевка
                    p.conditions-price_time сутки с момента прибытия.