.header
	.container-fluid
		.row
			.col-lg-1
				.logo-box
					a(href="/")
						img(src="img/logo.png")
			.col-lg-11
				ul.main-menu
					li
						a(href="#") VIP рыбалка
					li
						a(href="#") Услуги
					li
						a(href="#") Цены
					li
						a(href="#") Новости
					li
						a(href="#") Статьи
					li
						a(href="#") Фото
					li
						a(href="#") Контакты
