.carousel-wrapper
    .container-fluid
        .row
            .col-md-12
                .owl-carousel.owl-theme.fish-slider
                    .carousel-slide
                        img(src="img/carousel-slide.jpg", alt="Клуб Три пескаря")
                    .carousel-slide
                        img(src="img/carousel-slide.jpg", alt="Клуб Три пескаря")
                    .carousel-slide
                        img(src="img/carousel-slide.jpg", alt="Клуб Три пескаря")
    
